main {
  width: 100%;
  height: 90vh;
  .displayFlex(space-between);

  //mobile view
  @media @mobile {
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-items: center;
    border: 2px solid green;
  }

  .hero-area {
    width: 60%;

    @media @mobile {
      display: none;
    } //hide my hero area for mobile view and created another div inside cta-area

    .hero-img-container {
      background: url("../assets/hero-img.jpg") no-repeat center;
      background-size: cover;
      height: 100%;
    }
  } //hero-area ends here

  .cta-area {
    width: 40%;
    padding: 3%;

    @media @mobile {
      width: 100%;
      height: 100%;
      padding: 5%;
      border: 2px solid black;
    }

    .banner-header {
      margin: 10% 0 15% 0;
      color: @banner-header;

      h2 {
        @media @mobile {
          font-size: 2.4rem;
          line-height: 3rem;
        }
      } //end of h2
    } //end of banner header

    .banner-desc {
      margin-bottom: 20%;

      @media @mobile {
        display: none;
      }
    }

    .hero-area-mobile {
      display: none;

      @media @mobile {
        display: block;
      }

      .mobile-hero-img-container {
        background: url("../assets/hero-img.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 320px;
        margin-bottom: 70px;
      }
    }

    .cta-btn-container {
      font-size: 1.6rem;
      color: @cardinal;

      @media @mobile {
        width: 100%;
        border: 2px solid green;
      }
      button {
        .btn();
      }

      a {
        color: @cardinal;
        font-size: 1.6rem;
      }
    } //cta-btn-container ends here
  } //cta-area ends here
} //main ends here
