//variables

//color-pointers
@nav-bg: @cardinal;
@nav-font: @white;

@banner-header: @cardinal;
@banner-desc: @black;

@cta-bg: @cardinal;
@cta-text: @white;

@login-text: @cardinal;

//colors

//Primary
@cardinal: #d32323;
@mandys-pink: #f0c4a8;

//text
@mine-shaft: #353131;
@silver: #c4c4c4;
@black: #000;

//background
@bonjour: #e7e4e4;
@white: #fff;
@wild-sand: #e7e4e4;
@gray: #80808d;

//escaping variables
